.shape-selector {
  display: flex;
  gap: 10px;
  align-items: center;
}

.shape-selector label {
  font-weight: bold;
}

.shape-selector input[type="radio"] {
  display: none;
}

.shape-selector input[type="radio"] + label {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid rgb(22 16 16);
  cursor: pointer;
}

.shape-selector input[type="radio"]:checked + label {
  border: 3px solid #ff0000;
}

#shape1 {
  background-color: #ccc;
}

#shape2 {
  background-color: #ccc;
  border-radius: 50%;
}

#shape3 {
  background-color: #ccc;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

#shape4 {
  background-color: #ccc;
  position: relative;
}

#shape4:before,
#shape4:after {
  content: "";
  position: absolute;
  top: 0;
  width: 52px;
  height: 80px;
  background-color: #ccc;
  border-radius: 50px 50px 0 0;
}

#shape4:before {
  left: 10px;
  transform: rotate(-45deg);
}

#shape4:after {
  right: 10px;
  transform: rotate(45deg);
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.form-mensagem-create .form-field {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 2rem;
}

.field-info-curso {
  flex-direction: row!important;
  gap: 0.5rem;
}

.field-info-curso div {
  width: 100%;
  height: 30px;
}

.field-info-curso div select {
  width: 100%;
  height: 100%;
  padding: 0.3rem 0.3rem;
  color: black;
}

option {
  color: black!important;
}

.sr-only {
  display: none;
}

.label {
  font-weight: 400;
  color: black;
}

.input {
  outline-color: #ff0000!important;
  margin: 1rem 0;
  padding: 16px 6px;
  text-indent: 6pt;
  border-radius: 3px;
  width: 95%;
  background-color: black;
  color: aliceblue;
}

.overflow {
  margin: 0;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  position: relative;
}

@media (max-width: 760px) {
  .overflow {
    width: 100%;
    padding: 0.28rem;
    padding-bottom: 1rem;
  }

  .overflow .carta-container form {
    width: 100%;
  }

  .image-logo {
    width: 40px;
    object-fit: center;
  }
}


.carta-container {
  animation: openLetter 1s ease-in-out both;
  transform: translateY(-100%);
}

