/*  FONTS */
@import url('https://fonts.googleapis.com/css2?family=Princess+Sofia&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');



:root {
  --font-family-logo: 'Satisfy', cursive;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #151845;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  max-width: 1280px;
  width: -webkit-fill-available;
  height: 100vh;
  margin: 0;
  padding: 2rem;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 1pt!important;
}

a {
  text-decoration: none;
}

main {
  padding-bottom: 2rem;
}

form {
  width: 90%;
}

.box-error {
  background: rgb(253,40,40)!important;
  color: white;
}
.box-success {
  background: rgba(27,210,22,0.957)!important;
  color: white;
}


.title {
  font-size: 2.4rem;
  margin: 1rem;
  color: rgb(253,40,104);
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  cursor: pointer;
}
a:hover {
  color: #535bf2;
}





body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.text-logo {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (max-width: 800px) {
  .text-logo {
    font-size: 2.2rem!important;
    padding: 0 1rem;
  }
  .image-logo {
    width: 45px!important;
  }
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



.btn {
  width: 100%;
  padding: 1rem;
  border: 3px solid rgb(0, 0, 0);
}
.btn:hover {
  background-color: black;
  transition: .36s all;
  border-color: rgb(238, 6, 122);
  color: white;
}

.btn-sigup {
    background: white;
    color: black;
}

.btn-alert,
.btn-success,
.btn-warning {
  border: none;
}

.btn-alert:hover,
.btn-success:hover,
.btn-warning:hover {
  background-color: initial;
  border: none;
}

.btn-alert:hover {
  background-color: #f72323da;
  color: white;
}
.btn-succes:hover {
  background-color: #23f73bcb;
  color: white;
}
.btn-warning:hover {
  background-color: #fbc014bd;
  color: black;
}

.btn-alert {
  background-color: #f72323da;
  color: white;
}
.btn-success {
  background-color: #23f73bcb;
  color: white;
}
.btn-warning {
  background-color: #fbc014bd;
  color: black;
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }

}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

form .btn {
  margin-top: 1rem;
}

select {
  width: 100%;
  height: 100%;
  padding: 0.3rem 0.3rem;
  color: black;
}

option {
  color: black!important;
}

.sr-only {
  display: none;
}

.label {
  font-weight: 400;
  color: black;
}

.input {
  outline-color: #ff0000!important;
  margin: 1rem 0;
  padding: 16px 6px;
  text-indent: 6pt;
  border-radius: 3px;
  border: 1px solid #000000d2;
  width: 95%;
  background-color: transparent;
  color: #000000e9;
}
.input::placeholder {
  color: #000000e9;
}

/*  HEADER */
.image-logo {
  width: 102px;
  border-radius: 3%;
  box-shadow: 6px 5px 0px 0px #05050ae0, -5px -6px 0px 0px #05050ae0;
}

.text-logo {
  font-size: 3rem;
  font-family: var(--font-family-logo);
}
.logo:hover {
  filter: drop-shadow(0 0 1em rgb(253,40,104));
  animation: logo-spin 1s ;
}

@media only screen and (min-width: 999px) {
  body {
    font-size: 24px;
  }

  .btn-menu {
    font-size: 1.2rem;
  }
}


/* Seções de Conteúdo */
.dash-content {
  margin-bottom: 2rem;
}

.dash-content__title {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.dash-content__subtitle {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.boxes {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.box {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.box__title {
  padding: 1rem;
  font-weight: bold;
  background-color: black;
  color: white;
  border-radius: 5px;
  font-size: 0.98rem;
}

.box-alert {
  background-color: #f72323da;
}
.box-success {
  background-color: #23f73bcb;
}
.box-warning {
  background-color: #f7f023cb;
}

.box p {
  padding: 12px;
  color: white;
}

/* Linha Separadora */
.separator {
  background: rgba(0,0,0,0.885);
  border-radius: 12pt;
  margin: 2rem 0;
}

