#root {
  display: grid;
  //gap: 5rem;
  grid-template-rows: 1fr 100% 2fr;
  grid-template-areas: "header" "main" "footer";
}

.app__header {
  grid-area: header;
}

.app__main {
  grid-area: main;
}

.app__footer {
  grid-area: footer;
}

.separator {
  width: 100% !important;
}
