.header {
  display: flex;  
  flex-direction: row;
  justify-content: space-evenly;       
  align-items: center;
  border-radius: 4px;
  padding: 1.9rem 0.8rem;
  margin-bottom: 3rem;
}

.header menu item {
  padding-bottom: 1.2rem;
}

.header menu item:hover {
   border-bottom: 2px solid #dc1b1b;
 }


@media only screen and (max-width: 460px) {
 .header { 
   gap: 2rem;
   justify-content: space-between;
 }
 
 .header__text-logo {
   font-size: 1rem;
   display: none;
 }
 
 .container-image-logo{
   flex-basis: 100px;
 }
 
 .header__icon-action {
   font-size: 1rem;
   padding: 0.15rem;
   width: 75px;
 }
 
 .header__icon-action button {
   width: 100%;
   text-align: center;
 }
 
 .header menu { 
   position: absolute;
   top: 0; left: 0;
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   flex-direction: column;
   gap: 1.5rem;
   width: 80vw;
   height: auto;
   background: black;
   z-index: 10000;
   color: whitesmoke;
   margin: 2pt;
   border-radius: 12pt;
   text-align: left;
   padding: 2rem;
   padding-bottom: 3em;
 } 
 
 .header menu item {
   border 1px solid;
   padding: 1rem;
 }


 .header menu item a {
   border-radius: 6pt;
   width: 200px!important;
 }

 .btn-close {
   text-align: right,;
   font-size: 1.2rem!important;
   color: #dc1b1b;
   border: solid 5px;
   border-radius: 6px!important;
   width: 20px!important;
   height: 15px!important;
   line-height: 20px!important;
 }
}



@media only screen and (min-width: 760px) {
 .header menu { 
   position: absolute;
   top: 0; left: 0;
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   flex-direction: column;
   gap: 3rem;
   width: 55vw;
   height: auto;
   background: black;
   z-index: 10000;
   color: whitesmoke;
   margin: 6pt;
   border-radius: 12pt;
   text-align: left;
   font-size: 2rem;
   padding-bottom: 1.5em;
 }

 .header .btn-menu {
   width: 80px!important;
   height: 100px;
 }

 .btn-close {
   margin-top: 1rem;
   text-align: right;
   font-size: 3.5rem;
   color: #dc1b1b;
   border: solid 5px;
   border-radius: 12pt;
   padding: 1rem;
   width: 60px;
 }
}


.header menu item a {
  color: white!important;
}
.header menu item a:hover,
.header menu item a:visited, 
.header menu item a:active {
  color: #151845;
  transition: all .75s;
}

.header .btn-menu {
  width: 60px;
  height: 60px;
}

.btn-close {
  text-align: center;
  font-size: 2rem;
  color: #dc1b1b;
  border: solid 5px;
  border-radius: 12pt;
  padding: 1rem;
  width: 40px;
  height: 25px;
  line-height: 25px;
  align-self: flex-end!important;
  margin-right: 22pt;
}

.show {
  display: block;
  z-index: 1000;
}

