.logo-text {
  font-family: $font-family-logo;
  color: $color-primary-red;
  letter-spacing: 0.6pt;
  height: 40px;
  line-height: 40px;
}

.logo-image {
  width: 80px;
  height: 80px;
}

.logo-footer {
  font-size: 1.6rem;
}
