@mixin menu-main {
  position: fixed;
  top: 3px;
  right: 3px;
  z-index: 9999;

  display: grid;
  gap: 2rem;

  width: 258px;
  height: auto;
  justify-content: flex-end;
  justify-items: flex-end;

  background: black;
  z-index: 10000;

  margin: 2pt;
  border-radius: 12pt;

  padding: 2rem 2rem 3em;

  item {
    padding-bottom: 1.2rem;
    color: $color-secondary-white;
    width: 100%;

    a {
      padding: 1rem;
      width: 100%;
      font-weight: 500;

      &:hover {
        border-bottom: 2px solid $color-secondary-red;
      }

      i {
        color: $color-secondary-red;
      }
    }
  }
}
