/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // Define a base de 10px para facilitar o cálculo de REM
  height: 100%;
}

body {
  font-family: $font-family-body;
  font-size: 1.6rem; // 16px
  line-height: 1.5;
  color: $color-primary-black;
  height: 100%;
  letter-spacing: 1.15pt;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 1.6rem;
  font-family: $font-family-heading;
}

p {
  margin-bottom: 1.6rem;
  text-indent: 22pt;
}

ul,
ol {
  list-style-type: none;
  margin-bottom: 1.6rem;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
