// Cores Principais
$color-primary-black: #111;
$color-primary-blue-dark: #000033;
$color-primary-red: #fc456b;

// Cores Secundárias
$color-secondary-light: #6699cc;
$color-secondary-white: #ffffff;
$color-secondary-gray: #999999;
$color-secondary-red: #dc1b1b;

// Cores Terciarias
$color-terciary-red: rgb(253, 40, 104);
$color-terciary-black: rgba(0, 0, 0, 0.9);
