// Cores Principais
$color-primary-dark: #000033;
$color-primary-red: #FF0033;

// Cores Secundárias 
$color-secondary-light: #6699CC;
$color-secondary-white: #FFFFFF;
$color-secondary-gray: #999999;

